/* Set the background color of the page to white */
body,
.content {
    background-color: white;
}

.contact-us {
    padding: 50px 0 20px 0;
    margin-bottom: 0;
}

.contact-card {
    background: linear-gradient(135deg, #008080, #6eced1);
    /* Gradient from teal to light blue */
    /* Light teal background color */
    color: black;
    /* Set text color to black for better readability */
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-card {
    background: linear-gradient(135deg, #0c969b, #6eced1);
    /* Light teal background color */
    color: black;
    /* Set text color to black for better readability */
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-card .card-body,
.form-card .card-body {
    text-align: center;
}

.contact-us h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    /* Set heading color to black */
}

.contact-icon {
    margin-bottom: 15px;
    color: black;
    /* Set icon color to black */
}

.form-card .form-label {
    display: block;
    margin-bottom: 5px;
    color: black;
    /* Ensure form labels are also black */
    text-align: left;
    /* Align labels to the left */
}