.contact-us {
    background: linear-gradient(135deg, #008080, #81dac6);
    /* Original background color */
    color: white;
    padding: 50px 0 20px 0;
    margin-bottom: 0;
}

.contact-card,
.form-card {
    background: rgba(255, 255, 255, 0.1);
    /* Original card background color */
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-card .card-body,
.form-card .card-body {
    text-align: center;
}

.contact-us h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: bold;
}

.contact-icon {
    margin-bottom: 15px;
    color: white;
}

.form-card .form-label {
    display: block;
    margin-bottom: 5px;
    color: white;
    /* Ensure form labels are also white */
    text-align: left;
    /* Align labels to the left */
}