/* src/css/footer.css */
.page-footer {
    background-color: #008080;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 0;
    padding: 20px 0;
}

.footer-logo {
    height: 50px;
    filter: invert(100%);
}

.footer-description {
    text-align: justify;
}

.footer-contact {
    text-align: center;
}

.footer-links {
    text-align: center;
    font-size: 16px;
}

.footer-links .nav-link {
    color: white;
}

.footer-icons {
    font-size: 24px;
}

.footer-icons .mx-2 {
    color: white;
}

.footer-icons .mx-2:hover {
    color: #ddd;
}