/* Info.css */

.content-section .content-title {
    position: relative;
    padding-bottom: 1rem;
    /* Spacing below the title */
}

.content-image img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    /* Spacing below the image */
}

.content-gradient-line {
    height: 4px;
    background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    margin-bottom: 1rem;
    /* Spacing below the gradient line */
}

.content-list-box {
    list-style: none;
    padding-left: 0;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.content-list-box li {
    margin-bottom: 0.5rem;
    /* Spacing between list items */
}

.content-list-box li:last-child {
    margin-bottom: 0;
}

/* Add more custom styles as needed */

/* hero section - blog */
.hero-section-blog {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-color: lightblue;
}

.overlay-hero-section-blog {
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.5);
}

/* signup and login */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #3c8383, #02303b);
}

.signup-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Additional styles for smaller form elements */
.signup-form h2 {
    font-size: 1.5rem;
    /* Smaller headline */
}

.signup-form .form-label {
    font-size: 0.8rem;
    /* Smaller label font size */
}

.signup-form .form-control {
    font-size: 0.8rem;
    /* Smaller input font size */
    padding: 0.375rem 0.75rem;
    /* Smaller padding for inputs */
    height: calc(1.5em + 0.75rem + 2px);
    /* Adjust height accordingly */
}

.signup-form .btn {
    font-size: 0.8rem;
    /* Smaller button font size */
    padding: 0.375rem 0.75rem;
    /* Smaller button padding */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #3c8383, #02303b);
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-form h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.login-form .form-control {
    font-size: 0.8rem;
    padding: 0.375rem 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 8px;
    margin-bottom: 20px;
    /* Adjust spacing as needed */
    border: 1px solid #ced4da;
    /* Bootstrap default */
}

.login-form .btn {
    font-size: 0.8rem;
    padding: 0.375rem 0.75rem;
    border-radius: 8px;
    width: 100%;
    border: none;
    color: #fff;
    /* Adjust if you have a different button text color */
    background-color: #000;
    /* Adjust to the color of your button on the signup page */

}

.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* You may need additional global styles that were applied on the signup page, such as body font-family, etc. */