/* AllBlogPosts.css */
.all-blog-posts-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
}

.all-blog-posts-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.all-blog-posts-card-img {
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0;
    border-radius: 0;
    flex-shrink: 0;
}

.all-blog-posts-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all-blog-posts-card-title {
    font-size: 1.5rem;
}

.all-blog-posts-card-text {
    font-size: 1rem;
}

.all-blog-posts-card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-blog-posts-card-meta div {
    display: flex;
    align-items: center;
}

.all-blog-posts-card-meta .icon {
    margin-right: 0.5rem;
}