.chall-container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
}

.chall-text-center {
    text-align: center;
}

.chall-mt-4 {
    margin-top: 4rem;
}

.chall-mb-4 {
    margin-bottom: 4rem;
}

.chall-card {
    height: 100%;
    border: none;
    transition: transform 0.2s;
}

.chall-card:hover {
    transform: scale(1.05);
}

.chall-card-title {
    color: #343a40;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.chall-card-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.chall-mt-auto {
    margin-top: auto;
}