body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.page-footer {
    background-color: #008080;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

.container-fluid {
    text-align: center;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
}