.volunteer-page {
    background-color: #f9f9f9;
    min-height: 100vh;
}

.volunteer-info-card {
    background: linear-gradient(135deg, #76b3cf, #a7f1e5);
    /* Gradient from teal to light blue */
    color: black;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-card {
    background-color: #43a3c0;
    color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-label {
    font-size: 1em;
    text-align: left;
    margin-bottom: 15px;
}


/* .accordion-button::after {
    color: black;
}

.accordion-header {
    background: #76b3cf;
    color: black;

}

.accordion-body {
    background: #a7f1e5;
} */

.carousel-item p {
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
    /* Reduced padding */
}